<div class="container" style="padding:20px 0">
    <h1>DrinkCounts#index</h1>
    <p>TODO1 :  抽出量、濃さ、淹れ方のボタンが不自然</p>

    <%= form_tag(drink_counts_path, method: "POST", remote: true ) do %>

    <div class="container" >
        <div class="container" style="vertical-align:middle;margin-bottom: 5px" >
            <label class="control-label col-xs-2" >抽出量</label>
            <div class="btn-group" data-toggle="buttons" col-xs-10 style="display: inline">
                <label class="btn btn-primary active"><input type="radio" name="volume_id" value="1" autocomplete="off" checked>エスプレッソ</label>
                <label class="btn btn-primary"><input type="radio" name="volume_id" value="2" autocomplete="off">エスプレッソLarge</label>
                <label class="btn btn-primary"><input type="radio" name="volume_id" value="3" autocomplete="off">ロングコーヒー</label>
                <label class="btn btn-primary"><input type="radio" name="volume_id" value="4" autocomplete="off">ロングコーヒーLarge</label>
            </div>
        </div>
        <div class="container" style="vertical-align:middle;margin-bottom: 5px" >
            <label class="control-label col-xs-2">濃さ</label>
            <div class="btn-group" data-toggle="buttons" col-xs-10 style="display: inline">
                <label class="btn btn-primary active"><input type="radio" name="strength_id" value="1" autocomplete="off" checked>EXマイルド</label>
                <label class="btn btn-primary"><input type="radio" name="strength_id" value="2" autocomplete="off">マイルド</label>
                <label class="btn btn-primary"><input type="radio" name="strength_id" value="3" autocomplete="off">スタンダード</label>
                <label class="btn btn-primary"><input type="radio" name="strength_id" value="4" autocomplete="off">ストロング</label>
                <label class="btn btn-primary"><input type="radio" name="strength_id" value="5" autocomplete="off">EXストロング</label>
            </div>
        </div>
        <div class="container" >
            <label class="control-label col-xs-2">淹れ方</label>
            <div class="btn-group" data-toggle="buttons" col-xs-10 style="display: inline">
                <label class="btn btn-primary active"><input type="radio" name="type_id" value="1" autocomplete="off" checked>エスプレッソ-single-</label>
                <label class="btn btn-primary"><input type="radio" name="type_id" value="2" autocomplete="off">エスプレッソ-double-</label>
                <label class="btn btn-primary"><input type="radio" name="type_id" value="3" autocomplete="off">カフェジャボーネ</label>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 20px">
        <div class="row">
            <div class="col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr><th>ID</th><th>name</th><th>dcount</th><th></th></tr>
                </thead>
                <tbody>
                    <% for i in 0..2 %>
                        <% if i < @users_drink_counts.length %>
                            <tr id="tr-user-id-<%= @users_drink_counts[i].id %>">
                                <td><%= @users_drink_counts[i].id %></td>
                                <td><%= @users_drink_counts[i].name %></td>
                                <td id="td-user-id-<%=@users_drink_counts[i].id %>"><%= @users_drink_counts[i].dcount %></td>
                                <td>
                                <%= button_tag "1 more", class: "btn btn-primary", name: :user_id, value: @users_drink_counts[i].id %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            </div>
            <div class="col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr><th>ID</th><th>name</th><th>dcount</th><th></th></tr>
                </thead>
                <tbody>
                    <% for i in 3..5 %>
                        <% if i < @users_drink_counts.length %>
                            <tr id="tr-user-id-<%= @users_drink_counts[i].id %>">
                                <td><%= @users_drink_counts[i].id %></td>
                                <td><%= @users_drink_counts[i].name %></td>
                                <td id="td-user-id-<%=@users_drink_counts[i].id %>"><%= @users_drink_counts[i].dcount %></td>
                                <td>
                                <%= button_tag "1 more", class: "btn btn-primary", name: :user_id, value: @users_drink_counts[i].id %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div id='result'></div>