<div class="container" style="padding:20px 0">
    <h1>Users</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr><th>ID</th><th>name</th><th>mail address</th></tr>
                </thead>
                <tbody>
                    <% for i in 0..2 %>
                        <% if i < @users.length %>
                            <tr><td><%= @users[i].id %></td><td><%= @users[i].name %></td><td><%= @users[i].mail_address %></td></tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            </div>
            <div class="col-sm-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr><th>ID</th><th>name</th><th>mail address</th></tr>
                </thead>
                <tbody>
                    <% for i in 3..5 %>
                        <% if i < @users.length %>
                            <tr><td><%= @users[i].id %></td><td><%= @users[i].name %></td><td><%= @users[i].mail_address %></td></tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>
